<!DOCTYPE html>
<html>

<head>
	<title>{{title}}</title>
	<link rel="icon" href="./img/favicon.ico">
	<link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
	<div class="container">
		{{>header}}
		<div class="subcontainer">
			<p> This site is created by R1 Enterprises. It uses data from mapbox.com and weatherstack!</p>
			<img class="image" src="./img/me.png" />
		</div>
	</div>
	{{>footer}}
</body>

</html>