.image {
	width: 300px;
}

header {
	text-align: center;
	font-weight: bold;
	margin-top: 16px;
	margin-bottom: 30px;
}
.navigation {
	margin-bottom: 35px;
}

.navigation a {
	color: #222222;
	margin-right: 16px;
	text-decoration: none;
}

footer {
	text-align: center;
	font: xx-small;
	font-style: italic;
	margin-top: 16px;
	padding: 16px 0px;
	color: #222222;
	border-top: 1px solid #eeeeee;
}

body {
	color: #223311;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin: 0 auto;
	max-width: 650px;
	padding: 0 auto;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1 {
	font-size: 64px;
	margin-bottom: 16px;
}

.container {
	flex-grow: 1;
}

#error {
	color: red;
}

input {
	border: 1px solid #222222;
	padding: 6px;
}

button {
	cursor: pointer;
	border: 1px solid #222222;
	padding: 6px;
}
